<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="loading images from server requests">
  <link rel="icon" href="./images/gallery.ico">
  <link rel="stylesheet" href="./style.css">
  <title>Gallery02</title>
</head>

<body>

  <form method="post" action="./gallery">
    <section id="list">
      <h1>CANADIAN CITIES GALLERY</h1>
      {{#each data.list}}
      <input type="radio" id="{{this}}" name="imageInput" value="{{this}}">
      <label for="{{this}}">{{this}}</label><br>
      {{/each}}
      <br /><br />
      <button type="submit" value="submit">Submit</button>
    </section>
  </form>
  <section id="loading">
    <h6>loading</h6>
    <div id="div1">
      <div id="div2">
        <div id="div4">
        </div>
      </div>
      <div id="div3">
        <div id="div5">
        </div>
      </div>
      <div id="div6">
  
      </div>
    </div>
  </section>
  <section id="imagContainer">
    <h6>images</h6>
    <div id="focusImage">
    <img src="./images/{{data.focus}}.jpg" alt="{{data.focus}}">
    </div>
    <p id="desc">{{data.focus}}</p>

  </section>

      <section class="user">
        <h6>user</h6>
        <img id="avatar" src="./images/avatar.ico" alt="USER">
        <br>
        <p id="username">{{data.user}}</p>
        <a href="./">LOGOUT</a>
      </section>
</body>

</html>